<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Cadastro de Escolas</title>
</head>
<body>
    <h1>Cadastro de Escolas</h1>
    <form action="http://127.0.0.1:5000/cadastrar_form_escola" method="get">
        <label for="Nome_da_instituiçao"> Nome_da_instituiçao:</label>
        <input type="text" id="Nome_da_instituiçao" name="Nome_da_instituiçao" required>

        <label for="Tipo_de_instituiçao">Tipo_de_instituiçao:</label>
        <input type="text"  id="Tipo_de_instituiçao" name="Tipo_de_instituiçao" required>

        <label for="INEP">INEP:</label>
        <input type="text" id="INEP" name="INEP" required>

        <label for="CNPJ">CNPJ:</label>
        <input type="text" id="CNPJ" name="CNPJ" required>
    </form>
</body>
</html>