<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset = "UTF-8" />
  <meta name    = "viewport" content = "width=device-width, initial-scale=1.0" />

  <title>Escolas - Neo Conexão</title>

  <link rel  = "stylesheet" href = "../static/css/style.css" />
  <link href = "https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>

<body>
  <header>
    <nav>
        <button class="menu-btn">☰</button>

        <ul class="menu">
            <li><a href = "/">  Início </a></li>
            <li><a href = "/sobre">  Sobre  </a></li>
            <li><a href = "/blog">   Blog   </a></li>
            <li><a href = "/chat">   Chat   </a></li>
            <li><a href = "/perfil"> Perfil </a></li>
            <li><a href = "/cadastrar"> Cadastrar </a></li>
    </nav>
</header>

  <section class = "intro">
    <h1>ESCOLAS</h1>
    <p>
      Somos uma equipe de alunos que se importa com o futuro do mundo, por isso
      criamos a Neo Conexão, um projeto que pretende ajudar os adolescentes e
      jovens adultos a conseguir empregos que eles se interessem e amem.
    </p>
    <a href = "#" class = "pesquise">🔍 Pesquise</a>
  </section>

  <section class = "escola">
    <div   class = "card">
      <img src   = "CEEP.png" alt = "CEEP Maringá">
      <div class = "info">

        <h2>CEEP MARINGÁ</h2>
        <p>
          Localizada no bairro Jd. Olímpico, em Maringá, a Escola Estadual de
          Ensino Médio abriga cursos profissionalizantes.
        </p>
        
      </div>
    </div>
  </section>
</body>
</html>
