<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Escolas - Neo Conexão</title>

  <link rel="stylesheet" href="../static/css/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header>
    <nav>
      <button class="menu-btn">☰</button>

      <ul class="menu">
        <li><a href="/"> Início </a></li>
        <li><a href="/sobre"> Sobre </a></li>
        <li><a href="/blog"> Blog </a></li>
        <li><a href="/cadastrar"> Cadastros </a></li>
        <li><a href="/divulgacao_escolas"> Escolas </a></li>
        <li><a href="/vagas"> Vagas </a></li>
        <li><a href="/cursos"> Cursos </a></li>
      </ul>
    </nav>
  </header>

  <section class="intro">
    <h1>ESCOLAS</h1>
    <div class="texto">

      <p>
        Somos uma equipe de alunos que se importa com o futuro do mundo, por isso
        criamos a Neo Conexão, um projeto que pretende ajudar os adolescentes e
        jovens adultos a conseguir empregos que eles se interessem e amem.
      </p>
    </div>
  </section>

  <main class="escolas-container">
    <button><a id="botao" href="/cadastrar_escola">+Adicionar escolas</a></button>
    <h1>Escolas Disponíveis</h1>

    {% for escolas in escolas %}
    <div class="escolas-card">
      <p><strong>Nome da instituição:</strong> {{ escolas["Nome_da_instituicao"] }}</p>
      <p><strong>Cidade:</strong> {{ escolas["cidade"] }} - {{ escolas["estado"] }}</p>
      <p><strong>Tipo de instituição:</strong> {{ escolas["Tipo_de_instituicao"] }}</p>
      <p class="post-data">{{ escolas["data_publicacao"] }}</p>
      <a href="/escolas/{{ escolas['id_escola'] }}" class="btn-vermais">Ver mais</a>
    </div>
    {% else %}
    <p>Não há escolas cadastradas no momento.</p>
    {% endfor %}
  </main>
</body>

</html>