<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossos Cursos | Neo Conexão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
            <nav>
                <ul class = "menu"> 
                    <li><a href="/">                   Início    </a></li>
                    <li><a href="/sobre">              Sobre     </a></li>
                    <li><a href="/blog">               Blog      </a></li>
                    <li><a href="/perfil">             Perfil    </a></li>
                    <li><a href="/cadastrar">          Cadastros </a></li>
                    <li><a href="/divulgacao_escolas"> Escolas   </a></li>
                    <li><a href="/vagas">              Vagas     </a></li>
                    <li><a href="/cursos">             Cursos    </a></li>
                </ul>
            </nav>
    </header>
    <main class="vagas-container">
        <button><a id="botao" href="/cadastrar_cursos">+Adicionar Curso</a></button>
    <h1>Explore Nossos Cursos</h1>

    <main class="vagas-container">
        
        {% for curso in cursos %}
            <article class="vaga-card">
                <h2>{{ curso["nome"] }}</h2>
                <p><strong>Instituição:</strong> {{ curso["Nome_da_instituicao"] }}</p>
                <p><strong>Modalidade:</strong> {{ curso["modalidade"] }}</p>
                <p><strong>Cidade:</strong> {{ curso["cidade"] }} - {{ curso["estado"] }}</p>
                
    
                <a href="/cursos/{{ curso['id_curso'] }}" class="btn-vermais">Ver detalhes</a>
                </a>
            </article>
        {% else %}
            <p>Nenhum curso encontrado no momento.</p>
        {% endfor %}

    </main>
</body>
</html>
