<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Neoconexão</title>

    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <header>
        <nav>
            <button class="menu-btn">☰</button>

            <ul class="menu">
                <li><a href="/"> Início </a></li>
                <li><a href="/sobre"> Sobre </a></li>
                <li><a href="/blog"> Blog </a></li>
                <li><a href="/login"> Login </a></li>
                <li><a href="/divulgacao_escolas"> Escolas </a></li>
                <li><a href="/vagas"> Vagas </a></li>
                <li><a href="/cursos"> Cursos </a></li>
                <li><a href="/mapa"> Mapa</a></li>
                <li><a href="/chat"> Chat </a></li>
            </ul>

            <!-- 🧩 BLOCO DE INFORMAÇÃO DO USUÁRIO LOGADO -->
            {% if session.usuario %}
            <div class="usuario-logado">
                <span>👤 {{ session.usuario["nome"] }}</span>
                <a href="/logout" class="btn-logout">Sair</a>
            </div>
            {% endif %}
        </nav>
    </header>

    <img src="../static/css/img/logo.png" id="logo" draggable="false">

    <h2 id="inicio">INÍCIO</h2>

    <!-- descrição -->
    <p class="pleft">O Neo Conexão é uma iniciativa que busca reduzir a evasão escolar no Ensino Médio,
        conectando estudantes às escolas técnicas da região, cursos profissionalizantes e oportunidades
        no mercado de trabalho formal.</p>

    <p class="pright">Nossa plataforma divulga cursos, depoimentos de ex-alunos e vagas de estágio e
        jovem aprendiz, ajudando os jovens a conciliar estudo e trabalho e a construir um futuro mais promissor.
    </p>

    <!-- rodapé -->
    <footer>
        <a>2025 NEO CONEXÃO</a><br>
        <a>@neo_conexao</a><br>
        <a>ods 4: educação de qualidade</a>
    </footer>
</body>

</html>