<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Login - Neo Conexão</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <header>
    <nav>
        <button class="menu-btn">☰</button>

        <ul class="menu">
            <li><a href="/"> Início </a></li>
            <li><a href="/sobre"> Sobre </a></li>
            <li><a href="/blog"> Blog </a></li>
            <li><a href="/login"> Login </a></li>
            <li><a href="/divulgacao_escolas"> Escolas </a></li>
            <li><a href="/vagas"> Vagas </a></li>
            <li><a href="/cursos"> Cursos </a></li>
            <li><a href="/mapa"> Mapa</a></li>
            <li><a href="/chat"> Chat </a></li>
        </ul>

        <!-- 🧩 BLOCO DE INFORMAÇÃO DO USUÁRIO LOGADO -->
        {% if session.usuario %}
        <div class="usuario-logado">
            <span>👤 {{ session.usuario["nome"] }}</span>
            <a href="/logout" class="btn-logout">Sair</a>
        </div>
        {% endif %}
    </nav>
</header>
  
  <form method="POST" class="formlogin" action="/login">
    <h1>LOGIN/REGISTRO</h1>
    <label>EMAIL:</label><br>
    <input type="email" name="email" class="inputlogin" placeholder="INSIRA SEU NOME DE USUÁRIO OU E-MAIL"><br><br>

    <label>SENHA:</label><br>
    <input type="password" name="senha" placeholder="INSIRA SUA SENHA" required><br><br>

    <label>TIPO DE USUÁRIO:</label><br>
    <select name="tipo">
      <option value="alunos">Aluno</option>
      <option value="escolas">Escola</option>
      <option value="empresas">Empresa</option>
    </select><br><br>

    <button type="submit">Entrar</button>
  </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body>
</html>
