<!DOCTYPE html>
<html>
<head>
    <title>NeoConexao</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <!-- menu -->
        <button class="menu-btn">☰</button>
            <ul class="menu">
                <li><a href = "index.html">  Início </a></li>
                <li><a href = "sobre.html">  Sobre  </a></li>
                <li><a href = "blog.html">   Blog   </a></li>
                <li><a href = "chat.html">   Chat   </a></li>
                <li><a href = "perfil.html"> Perfil </a></li>
            </ul>
        
        </nav>

    <h1>Perfil</h1>
    <h2>Nome</h2>
    <h3>Escolas Registradas</h3>
    <h4>CEEP Maringá</h4>

    <form>
        Senha <br>
        <input type="password"><br>
    <button>Entrar</button>
    Alterar a senha
    <button>Editar perfil</button>
    </form>

</body>
</html>