<!DOCTYPE html>
<html>
<head>
    <title>NeoConexao</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <!-- menu -->
        <button class="menu-btn">☰</button>
            <ul class="menu">
                <li><a href="/"> Início </a></li>
                <li><a href="/sobre"> Sobre </a></li>
                <li><a href="/blog"> Blog </a></li>
                <li><a href="/chat"> Chat </a></li>
                <li><a href="/perfil"> Perfil </a></li>
                <li><a href="/cadastrar"> Cadastros </a></li>
                <li><a href="/divulgacao_escolas"> Escolas </a></li>
            </ul>
        
        </nav>

    <form>
        <h1>Perfil</h1>
        Nome<br>
        Escolas Registradas</br>
        CEEP Maringá</br>
        Senha<br>
        <input type="password"><br>
    <button>Entrar</button>
    Alterar a senha
    <button>Editar perfil</button>
    </form>

</body>
</html>