<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Empresas</title>
</head>

<body>

    <form action="http://127.0.0.1:5000/cadastrar_form_empresas" method="POST">
    <link rel="stylesheet" href="style.css">

        <h1>CADASTRO DE EMPRESAS</h1>

        <!-- campo para nome da empresa -->
        <label for  = "nome_da_empresa">Nome da Empresa:</label>
        <input type = "text" name="nome_da_empresa" id="nome_da_empresa" required>

        <!-- campo para nome-fantasia da empresa -->
        <label for  = "nome_fantasia">Nome fantasia:</label>
        <input type = "text" name="nome_fantasia">

        <!-- campo para CNPJ da empresa -->
        <label for  = "CNPJ">CNPJ:</label>
        <input type = "text" name="CNPJ" id="CNPJ" required>

        <!-- campo para e-mail da empresa -->
        <label for  = "Email">Email:</label>
        <input type = "email" name="Email" id="Email" required>

        <!-- campo para CEP da empresa -->
        <label for  = "CEP">CEP:</label>
        <input type = "text" name="CEP" id="CEP" required>

        <!-- campo para área de atuação da empresa -->
        <label for  = "Área de atuação">Área de atuação:</label>
        <input type = "text" id="area_de_atuacao" name="area_de_atuacao" required>

        <!-- campo para endereço da empresa -->
        <label for  = "Endereço">Endereço:</label>
        <input type = "text" id="endereco" name="endereco" required>

        <label for  = "estado">Estado:</label>
        <select type= "text" name="estado" id="estado" required>
            <option value = "Selecione"></option>
            <option value = "AC"> AC </option>
            <option value = "AL"> AL </option>
            <option value = "AM"> AM </option>
            <option value = "AP"> AP </option>
            <option value = "BA"> BA </option>
            <option value = "CE"> CE </option>
            <option value = "DF"> DF </option>
            <option value = "ES"> ES </option>
            <option value = "GO"> GO </option>
            <option value = "MA"> MA </option>
            <option value = "MG"> MG </option>
            <option value = "MS"> MS </option>
            <option value = "MT"> MT </option>
            <option value = "PA"> PA </option>
            <option value = "PB"> PB </option>
            <option value = "PE"> PE </option>
            <option value = "PI"> PI </option>
            <option value = "PR"> PR </option>
            <option value = "RJ"> RJ </option>
            <option value = "RN"> RN </option>
            <option value = "RO"> RO </option>
            <option value = "RR"> RR </option>
            <option value = "RS"> RS </option>
            <option value = "SC"> SC </option>
            <option value = "SE"> SE </option>
            <option value = "SP"> SP </option>
            <option value = "TO"> TO </option>
        </select>

    </form>
    <button type="submit">Cadastrar</button>
</body>

</html>