<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neoconexão</title>
    <link rel="stylesheet" href="style.css">
    <!-- fonte -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    </style>
</head>

<body>
    <header>
        <nav>
            
            <!-- menu -->
            <button class="menu-btn">☰</button>

            <ul class="menu">
                <li><a href = "index.html">  Início </a></li>
                <li><a href = "sobre.html">  Sobre  </a></li>
                <li><a href = "blog.html">   Blog   </a></li>
                <li><a href = "chat.html">   Chat   </a></li>
                <li><a href = "perfil.html"> Perfil </a></li>
            </ul>
        </nav>
    </header>

    <div class="bolha bolha1"></div>
        <div class="bolha bolha2"></div>
        <div class="bolha bolha3"></div>
      
    <img src="img/logo.png" id="logo" draggable="false">
    
    <h2>INÍCIO</h2>

    <!-- descrição -->
    <p class="p1">O Neo Conexão é uma iniciativa que busca reduzir a evasão escolar no Ensino Médio,
         conectando estudantes às escolas técnicas da região, cursos profissionalizantes e oportunidades
          no mercado de trabalho formal.</p>
    
    <p class="p2">Nossa plataforma divulga cursos, depoimentos de ex-alunos e vagas de estágio e
         jovem aprendiz, ajudando os jovens a conciliar estudo e trabalho e a construir um futuro mais promissor.
      </p>

    <!-- rodapé -->
    <footer>
        <p>2025 Neo conexão</p>
        <p>@neo_conexao</p>
        <p>ods 4: educação de qualidade</p>
    </footer>
</body>
</html>