<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Neoconexão</title>
    <link rel="stylesheet" href="style.css">

    
    <!-- fonte -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
        </style>
</head>

<body>
    <header>
        <nav>
            
            <!-- menu -->
            <button class="menu-btn">☰</button>

            <ul class="menu">
                <li><a href = "index.html">  Início </a></li>
                <li><a href = "sobre.html">  Sobre  </a></li>
                <li><a href = "blog.html">   Blog   </a></li>
                <li><a href = "chat.html">   Chat   </a></li>
                <li><a href = "perfil.html"> Perfil </a></li>
            </ul>
        </nav>
    </header>

        <div class="bolha bolha1"></div>
        <div class="bolha bolha2"></div>
        <div class="bolha bolha3"></div>
      
    <img src="img/logo.png" id="logo" draggable="false">

    
    <h2>INÍCIO</h2>

    <!-- descrição -->
    <p class="p1">O Projeto Neo Conexão surge como resposta ao problema da evasão escolar no Ensino Médio,
        causada pela dificuldade que muitos jovens encontram em conciliar os estudos com o trabalho.</p>
    
    <p class="p2">A proposta é desenvolver uma plataforma digital interativa que reúna informações sobre
        escolas técnicas da região, cursos ofertados e depoimentos de ex-alunos, incentivando os
        estudantes a optarem pela educação profissionalizante.
      </p>

    <p class="p1">
        Além disso, o site pretende divulgar vagas de estágio e jovem aprendiz, compatíveis com os horários escolares,
        permitindo que os jovens permaneçam estudando enquanto ingressam no mercado de trabalho formal.</p>
    </a>

    <!-- rodapé -->
    <footer>
        <p>2025 Neo conexão</p>
        <p>@neo_conexao</p>
        <p>ods 4: educação de qualidade</p>
    </footer>
</body>
</html>