<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <title>Saiba mais</title>
    
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav>
            <button class="menu-btn">☰</button>
            <ul class="menu">
                <li><a href = "index.html">  Início </a></li>
                <li><a href = "sobre.html">  Sobre  </a></li>
                <li><a href = "blog.html">   Blog   </a></li>
                <li><a href = "chat.html">   Chat   </a></li>
                <li><a href = "perfil.html"> Perfil </a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Quem somos</h2>

        <p>
            Somos estudantes do Ensino Médio no Centro Estadual de Educação Profissionalizante
             Pe. Joseir Sversutti (CEEP Maringá). Nosso projeto surgiu ao notarmos um desafio real
              enfrentado pelos jovens: a improficiência, num contexto laboral, a partir de um debate
               em grupo baseado na ODS 4.4. Como estudantes de uma escola de ensino profissionalizante,
                vimos o poder proveniente de uma educação voltada ao mercado de trabalho. Então, criamos
                 este site com o intuito de conectar os jovens ao futuro, um Ensino Médio profissionalizante
                  e ao mercado de trabalho.
        </p>

        <h2>Missão</h2>
        <p>
            Conectar os jovens ao ensino técnico, oferecendo informações acessíveis sobre cursos, escolas e
             oportunidades de estágio e trabalho, incentivando a continuidade dos estudos e ampliando as
              perspectivas de inserção em empregos formais e qualificados.

        </p>

        <h2>Visão</h2>
        <p>Ser uma plataforma de referência regional na orientação educacional e profissional, contribuindo
             para a redução da evasão escolar e para a transformação social, criando pontes entre educação
              técnica e mercado de trabalho.</p>

        <h2>Valores</h2>
    <ul>
        <li>Educação como ferramenta de transformação social;</li>
        <li>Inclusão de jovens em situação de vulnerabilidade;</li>
        <li>Apoio à permanência escolar e à formação técnica;</li>
        <li>Conexão entre estudantes, escolas e empresas locais;</li>
        <li>Futuro sustentável por meio da empregabilidade formal e qualificada.</li>
    </ul>

    <a href="index.html" style="text-decoration:none;">
        <button>Home</button>
    </a>
</body>
</html>